.logincontainer {
    position:fixed;
    padding:0;
    margin:0;
    display: none;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    z-index: 11100;

}

.loginbox{
    min-width: 300px;
    width: 20%;
    height: 300px;
    background-color: #2d2d2d;
    margin: 150px auto;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    text-align: center;
    z-index: 11101;
    color: white;
}

.loginbox h2 {
    color: White;
}

.loginbox .my-button{
    width:100%;
    margin: 0 0;
}
 .loginbox .closebtn {
    float:right;
    margin-top:-12px;
    margin-right:-12px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

 .loginbox .my-txt-box {
     width: 60%;
     margin: 0 auto;
 }

.news .fullBox {
    margin:1% 0;    
}
.news .halfBox {
    margin:1% 0.5%;
}
.registerbox .my-txt-box {
    margin: 5px 0;
    display: inline;
    width: 32.2%;
    height: 50px;
}
.registerbox  {
   margin:2% 0;
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
        box-sizing: border-box;  
        text-align:center;
}

.newsBox {
    border-bottom: 0.5px solid;
    padding: 2% 2%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
        box-sizing: border-box;   
}
.weatherBox {
    width:16%;
    position: absolute;
    top:100px;
    left: 20px;
}

.DropDown{
    width:100%;
    margin: 5px 0 5px;
    height:50px;   
}





