.logincontainer {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
    z-index: 100;

}

.loginbox{
    min-width: 300px;
    width: 20%;
    height: 270px;
    background-color: gray;
    margin: 150px auto;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    text-align: center;
    padding: 10px 10px;
    border-radius: 10px;

}

.textbox{
  width: 60%;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 12px;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font: normal 17px/normal "Times New Roman", Times, serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.2) ;
  box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.2) ;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
