.text-center {
    text-align: center;
}
.text-bold {
    font-weight: bold;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.centerCalender {
    width: 200px;
    margin: 0 auto;
}
.calenderButton {
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 17px;
}
.hrMargin {
    margin: 10px 0 10px 0;
}
#hours {
    width: 100px;
    display: none;
}
#hours div {
    display: inline-block;
}

.listItemMargin {
    margin: 2px 0 0 0;
    font-weight: bold;
}

.timeTable td{
    background-color: #7cff82;
    padding: 5px;
}

.timeTable td:hover {
    background-color: green;
    cursor: pointer;
}

.booked td{
    background-color: #f5fb64;
}

.fullybooked td{
    background-color: #fe6969;
}

a {
    color: black;
}

