.timeTable td{
    background-color: #7cff82;
    padding: 5px;
}
.timeTable{
    width:100%;
    height:675px;    
}
.timeTable td:hover {
    background-color: green;
    cursor: pointer;
}
.timeTable td:active {
    background-color:red;
}
    

.booked td{
    background-color: #f5fb64;
}

.fullybooked td{
    background-color: #fe6969;
}
.timeTable a {
    color: black;
}

.page-overlay-info-box{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 500;
    display: none;
}

.overlay-message {
    margin: 0em auto;
    margin-top: 30%;
    padding: 1em;
    background: white;
    width: 400px;
}
.calenderBox {
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;   
}
.aspCalender {
    width: 100%;
}

.CalenderDay {
    font-size:50px;
    height: 100px;
}
.CalenderTitel {    
    font-size:50px;

}
.CalenderSelectedDay {
    font-size:50px;
    height: 100px;
}
.CalenderWeekendDay {
    font-size:50px;
    height: 100px;
}
.CalnderOtherMonthDay {
    height: 100px;
}

